body{background-color: 	#1a0000;


}

h1{font-style:latin wide;font-size: 200%;justify-content: center;
	text-align: center;background-color: #4B0082;}
hr{margin-left:26px;margin right: 26px }

img{
	width: 20%;
	height: 20%;
	background-color: #4B0082;
}
blockquote{ font-family: stencil;
	        color:#FFF5EE;
	        font-size: 200%;





	









	



